<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <meta name="description"
        content="Kişisel portföy web sitesi. Ana sayfa, hakkımda, iş deneyimi, projeler ve iletişim sayfalarını içerir.">
    <meta name="keywords" content="portföy, kişisel web sitesi, iş deneyimi, projeler, iletişim">
    <meta name="author" content="Yusuf">
    <link rel="stylesheet" href="/components/navigation/navigation.css">
</head>

<body>
    <nav aria-label="Ana Navigasyon">
        <div id="nav-menu" role="navigation">
            <a class="nav-link" href="../index.html" role="button">Ana Sayfa</a>
            <a class="nav-link" href="../about/index.html" role="button">Hakkımda</a>
            <a class="nav-link" href="../experience/index.html" role="button">İş Deneyimi</a>
            <a class="nav-link" href="../projects/index.html" role="button">Projeler</a>
            <a class="nav-link" href="../contact/index.html" role="button">İletişim</a>
        </div>
    </nav>
</body>

</html>