<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/components/navigation/navigation.css">
</head>

<body>
    <nav>
        <ol>
            <a href="../index.html">
                <li>Ana Sayfa</li>
            </a>
            <a href="../about/index.html">
                <li>Hakkımda</li>
            </a>
            <a href="../experience/index.html">
                <li>İş Deneyimi</li>
            </a>
            <a href="../projects/index.html">
                <li>Projelerim</li>
            </a>
            <a href="../contact/index.html">
                <li>İletişim</li>
            </a>
        </ol>
    </nav>
</body>

</html>