body {
  background: linear-gradient(
    30deg,
    #1e3a8a,
    #2563eb,
    #4f46e5,
    #3b82f6,
    #1d4ed8,
    #4338ca,
    #312e81
  );
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

header {
  text-align: center;
  font-size: 1.2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  font-size: large;
  color: white;
  padding: 10px;
  border: 1px solid #1e3a8a;
}

th {
  background-color: #1d4ed8;
  font-size: large;
}

tr {
  background-color: #3b82f6;
}

tr:hover {
  background-color: #4f46e5;
  transition: background-color 0.3s ease;
}

/* Classes */
.profile {
  /* Sağ üstte sabit konum */
  position: fixed;
  top: 20px;
  right: 20px;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px double skyblue;
}

.programming-skills li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

.programming-skills li img {
  width: 90px;
  height: 90px;
}

.hobbies {
  list-style-type: square;
  font-size: large;
}

.social-links {
  margin-bottom: 50px;
}

.social-links div {
  display: inline-block;
  margin: 20px;
}

.social-links a {
  pointer-events: auto;
}

.social-links img {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  body {
    margin: 10px;
    font-size: 0.9em;
  }

  header {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
    padding: 0 5px;
  }

  table {
    font-size: 0.8em;
  }

  th,
  td {
    padding: 8px;
    font-size: 1em;
  }

  /* Classes */
  .profile {
    top: 10px;
    right: 10px;
    transition: opacity 0.4s ease-in-out;
  }

  .profile-photo {
    width: 80px;
    height: 80px;
    border-width: 3px;
  }

  .programming-skills {
    margin: 0;
  }

  .programming-skills li {
    margin: 5px;
  }

  .programming-skills li img {
    width: 60px;
    height: 60px;
  }

  .hobbies {
    font-size: medium;
    margin: 5px;
  }

  .social-links {
    margin-bottom: 20px;
  }

  .social-links div {
    display: inline-block;
    margin: 5px;
  }

  .social-links a {
    font-size: 1.2em;
  }

  .social-links img {
    width: 40px;
    height: 40px;
  }
}
