@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-woff2/Montserrat-Regular.woff2")
      format("woff2"),
    url("../fonts/Montserrat/Montserrat-woff/Montserrat-Regular.woff")
      format("woff"),
    url("../fonts/Montserrat/Montserrat-ttf/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  z-index: -1;
  background-size: cover;
  object-fit: cover;
}

header {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1.6em;
  margin-top: 50px;
  margin-bottom: 300px;
}

.hero-section {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
}

/* Game Section */
.game-section {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
}

.game-section h2 {
  text-align: center;
  color: blueviolet;
  margin-top: 0;
}

.game-section button {
  width: 200px;
  padding: 15px 20px;
  margin: 10px;
  background: linear-gradient(0deg, blue, blueviolet);
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.game-section button:hover {
  background: linear-gradient(360deg, blueviolet, blue);
  color: white;
  transition: background-color 0.5s;
}

#game-container {
  display: block;
  text-align: center;
}

#game-frame {
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}

.game-instructions {
  font-size: medium;
  color: black;
  margin-top: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  header {
    font-size: 1.1em;
    margin-bottom: 15px;
    padding: 10px;
  }

  .hero-section {
    font-size: 0.9em;
    padding: 20px 10px;
    margin: 20px;
    border-radius: 8px;
  }

  .game-section {
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .game-section button {
    padding: 8px 15px;
    font-size: medium;
    margin: 5px;
  }

  #game-container {
    padding: 10px;
  }

  #game-frame {
    height: 60vh;
    border-radius: 8px;
  }

  .game-instructions {
    font-size: medium;
    margin-top: 15px;
  }
}
